<%= layout('layouts/boilerplate') %> 
<form action="/campgrounds/<%= camp._id %>?_method=PUT" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="campground[title]" value="<%= camp.title %>">
        <label for="location">Location</label>
        <input type="text" id="location" name="campground[location]" value="<%= camp.location %>">
        <button>Edit</button>
    </div></form><form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="post">
    <div>
        <button>Delete</button>
    </div>
</form>
