<%= layout('layouts/boilerplate') %>
  <div class="row">
    <div class="col-md-6 offset-3 mb-3">
      <div class="card">
        <img class="img-fluid" src="<%= camp.image %> " alt="">
        <div class="card-body">
          <h5 class="card-title">
            <%= camp.title %>
          </h5>
          <p class="card-text">
            <%= camp.description %>
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">
              <%= camp.location %>
            </li>
            <li class="list-group-item">$<%= camp.price %> / night</li>
          </ul>
          <div class="card-body">
            <a href="/campgrounds/<%= camp._id%>/edit" class="card-link btn btn-info">Edit</a>
            <form class="d-inline" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="post">
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <h2 class="mt-3">Leave a little Review</h2>
      <form action="/campgrounds/<%=camp._id%>/reviews" class="mb-3" method="POST" novalidate>
        <div class="mb-3">
          <label class="form-label" for="rating">Rating</label>
          <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
        </div>
        <div class="mb-3">
          <label class="form-label" for="base">Review</label>
          <textarea class="form-control" name="review[base]" id="base" cols="30" rows="3"></textarea>
        </div>
        <button class="btn btn-success">Add a Review</button>
      </form>
    </div>
  </div>