<%= layout('layouts/boilerplate') %>

  <link rel="stylesheet" href="/styles/stars.css">

  <div class="row">
    <div class="col-6 mb-3">
      <div class="card">
        <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% camp.images.forEach((img, index)=> { %>
              <div class="carousel-item <%= index === 0 ? 'active' : '' %> ">
                <img src="<%=img.url%> " class="d-block w-100" alt="">
              </div>
              <% }) %>
          </div>
          <% if (camp.images.length> 1) {%>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= camp.title %>
          </h5>
          <p class="card-text">
            <%= camp.description %>
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">
              <%= camp.location %>
            </li>
            <li class="list-group-item">$<%= camp.price %> / night</li>
            <li class="list-group-item">Submitted by <%= camp.owner.username %>
            </li>
          </ul>
          <% if (currentUser && camp.owner.equals(currentUser)) { %>
            <div class="card-body">
              <a href="/campgrounds/<%= camp._id%>/edit" class="card-link btn btn-info">Edit</a>
              <form class="d-inline" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger">Delete</button>
              </form>
            </div>
            <% } %>
        </div>
      </div>
    </div>
    <div class="col-6 mb-3">
      <div id="map" class="map"></div>
      <% if (currentUser) { %>
        <h2 class="mt-3">Leave a little Review</h2>
        <form action="/campgrounds/<%=camp._id%>/reviews" class="mb-3 form-validate" method="POST" novalidate>
          <fieldset class="starability-basic">
            <input type="radio" id="first-rate1" name="review[rating]" value="1" checked />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="mb-3">
            <label class="form-label" for="base">Review</label>
            <textarea class="form-control" name="review[base]" id="base" cols="30" rows="3" required></textarea>
            <div class="valid-feedback">
              <%= validFeedback[Math.floor(Math.random() * validFeedback.length)] %>
            </div>
            <div class="invalid-feedback">
              <%= invalidFeedback[Math.floor(Math.random() * invalidFeedback.length)] %>
            </div>
          </div>
          <button class="btn btn-success">Add a Review</button>
        </form>
        <% } %>
          <% for (review of camp.reviews) {%>
            <div class="card mb-3">
              <div class="card-body">
                <div class="card-title">
                  <h5 class="card-title">
                    <%= review.author.username%>
                  </h5>
                  <p class="starability-result" data-rating="<%=review.rating%>">
                    Rated: <%= review.rating %> stars
                  </p>
                </div>
                <p>
                  <%= review.base %>
                </p>
                <% if (currentUser && review.author.equals(currentUser)) { %>
                  <form action="/campgrounds/<%=camp._id%>/reviews/<%=review._id%>/?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                  </form>
                  <% } %>
              </div>
            </div>
            <% } %>
    </div>
  </div>

  <script>
    const mapBoxToken = '<%-process.env.MAPBOX_TOKEN%>'
    let campground = '<%-JSON.stringify(camp)%>'
  </script>
  <script src="/scripts/mapBox.js"></script>